<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
    {{ partial "head.html" . }}
</head>
<body class="">
<div class="container mx-auto min-h-screen flex flex-col">
    <header class="print:hidden">
        {{ partial "header.html" . }}

        {{ block "breadcrumb" . }}
            <div class="breadcrumbs px-1">
                <ul>
                    {{- range .Ancestors.Reverse }}

                        <li>
                            {{ partial "pageUrl.html" . }}

                        </li>
                    {{- end }}

                    <li>
                        {{ partial "pageUrl.html" . }}
                    </li>
                </ul>
            </div>
        {{ end }}
    </header>
    <main class="p-4 grow">
        {{ block "main" . }}{{ end }}
    </main>
    <footer class=" bottom-0 bg-base-100 border-t-4 p-2">
        Copyright &copy; {{ now.Year }} {{ site.Title }}
        {{with .GetPage "license"}}
            —
            <a class="link" href="{{.Path}}">{{partial "title.html" . }}</a>
        {{end}}
    </footer>
</div>

{{/**/}}
{{partial "debug.html" .}}
{{/**/}}
</body>
</html>
