{{ define "main" }}
    <div class="grid grid-cols-6 gap-4">

        <div class="col-span-6 print:col-span-6">
            <h1 class="title">{{ .Title }}</h1>

            {{ partial "content.html" . }}

            {{ range (
            (.Pages.GroupByParam "type") |  append (dict
            "Pages" (where .Pages "Params.type" nil)
            )
            ) }}
                {{ with .Key }}
                    <h2 class="title_subsection">{{.  |title}}</h2>
                {{end}}
                {{range  (.Pages.GroupByParam "level") }}
                    {{ partial "sectionItems.html" .Pages }}
                {{end}}
                {{ partial "sectionItems.html" (where .Pages "Params.level" nil) }}
            {{end}}
        </div>


        {{if .Params.TOC}}

            <div class="print:hidden">

                <h2 class="subtitle">Table of content</h2>
                {{.TableOfContents}}
            </div>
        {{end}}

    </div>
{{ end }}