baseURL = 'https://example.org/'
languageCode = 'en-US'
theme = 'simple_learn'
title = 'Learn.henri.run'


[markup.goldmark.renderHooks.link]
enableDefault = true

[markup.goldmark.renderer]
unsafe = true

[markup.highlight]
anchorLineNos = false
codeFences = true
guessSyntax = false
hl_Lines = ''
hl_inline = false
lineAnchors = ''
lineNoStart = 1
lineNos = false
lineNumbersInTable = true
noClasses = false
style = 'github'
tabWidth = 4
wrapperClass = 'highlight'