<button class="btn" onclick="startPresentation('#presentation')">
    {{partial "icon.html" (dict "Kind" "presentation")}}
</button>
<article class="presentation" id="presentation">
    {{ $pages := (split .RawContent "\n---\n") }}
    <section class="bg-primary text-primary-content" style="
    {{if .Param "cover"}}
        background-image: url('{{.Param "cover"}}');
                background-size: cover;
                background-position: center;
    {{end}}">
        {{if not (.Param "hideTitle")}}
            <h1 class="text-7xl font-black uppercase">
                {{ partial "title.html" .}}
            </h1>
        {{end}}

    </section>

    {{range $k, $v := $pages }}

        <section class="prose max-w-none">
            <div class="p-4">
                {{ $v | page.RenderString |
                replaceRE "(<h[1-6][^>]+)id=\\\"[^\"]+\"" "$1" |
                replaceRE "</ul>" "<li class=\"hidden\"></li></ul>" |
                replaceRE "<li class=\"hidden\"></li></ul>\\s*$" "</ul>"|
                safeHTML }}
            </div>
        </section>
    {{end}}
</article>
