<button class="btn" onclick="startPresentation('#presentation')">
    {{partial "icon.html" (dict "Kind" "presentation")}}
</button>
<div class="presentation-container">
    <article class="presentation" id="presentation">
        {{ $pages := (split .RawContent "\n---\n") }}
        <section class="bg-accent text-accent-content" style="
        {{if .Param "cover"}}
            background-image: url('{{.Param "cover"}}');
                    background-size: cover;
                    background-position: center;
        {{end}}">
            {{if not (.Param "hideTitle")}}
                <h1 class="text-7xl font-black uppercase
                        absolute bottom-20 right-0 left-42
                        {{if .Param "cover"}}bg-white/75 p-4{{end }}">
                    {{ partial "titleBr.html" .}}
                </h1>
            {{end}}

        </section>

        {{range $k, $v := $pages }}

            <section class="prose max-w-none">
                <div class="p-4">
                    {{ $v | page.RenderString |
                    replaceRE "(<h[1-6][^>]+)id=\\\"[^\"]+\"" "$1" |
                    safeHTML }}
                </div>
            </section>
        {{end}}
    </article>
</div>

