@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "tailwindcss";
@import "customs.css";
@import "slides.css";

* {
    font-family: "IBM Plex Mono", monospace;
}


.title {
    @apply text-3xl font-black border-b-2 uppercase;
}

.title_subsection {
    @apply text-2xl font-black border-b-2 uppercase;

}

.subtitle {
    @apply text-xl font-black uppercase;
}

summary {
    @apply cursor-pointer;
}

#TableOfContents {
    @apply menu;
}


.alert {
    &.alert-important {
        @apply bg-accent text-accent-content;

        &.alert-outline {
            @apply bg-transparent text-accent border-accent;
        }
    }
}

.prose {
    a {
        @apply break-all;
    }
}


@media print {
    table {
        zoom: 0.75;

    }
}


@custom-variant print (@media print);
@plugin "@tailwindcss/typography";
@plugin "daisyui";


@plugin "daisyui/theme" {
    name: "winter";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(97.466% 0.011 259.822);
    --color-base-300: oklch(93.268% 0.016 262.751);
    --color-base-content: oklch(41.886% 0.053 255.824);
    --color-primary: oklch(56.86% 0.255 257.57);
    --color-primary-content: oklch(91.372% 0.051 257.57);
    --color-secondary: oklch(42.551% 0.161 282.339);
    --color-secondary-content: oklch(88.51% 0.032 282.339);
    --color-accent: oklch(60% 0.25 292.717);
    --color-accent-content: oklch(11.988% 0.038 335.171);
    --color-neutral: oklch(19.616% 0.063 257.651);
    --color-neutral-content: oklch(83.923% 0.012 257.651);
    --color-info: oklch(70% 0.165 254.624);
    --color-info-content: oklch(17.625% 0.017 214.515);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(16.098% 0.015 197.823);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(17.834% 0.009 71.47);
    --color-error: oklch(63% 0.237 25.331);
    --color-error-content: oklch(14.618% 0.022 20.076);
    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

questions{

    @apply block;
    @apply bg-gray-100;
    @apply p-4
}

questions:before{
    content: "Questions";
    @apply text-xs block border-b;

}